@import url('/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* @apply font-body; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero {
  background-color: black;
  color: aliceblue;
}

.card {
  background-color: black;
  color: white;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: #ffbc5c;
}

.border-style {
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: #ffbc5c;
}

.border-disabled {
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: #d85c4c;
  color: #d85c4c;
}

.card-body {
  color: white;
}

.no-border {
  border-width: 0px;
}

.white-text {
  color: white;
}

.yellow-text {
  color: #ffbc5c;
}

.black-text {
  color: black;
}

#red {
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: #d85c4c;
  color: #d85c4c;
}

.drawer-side {
  background-color: black;
  color: white;
}

.drawer-content {
  background-color: black;
}

.range3 {
  border-color: #ffbc5c;
  border-radius: 25px;
  border-width: 2px;
}
.drop-shadow-md {
  background-color: black;
}
