@import url('/fonts/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Open+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Good Times';
  src: url('/fonts/goodtimesrg.otf') format('opentype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Regular.ttf') format('truetype');
}

.galaxy-bg {
  background: url('/galaxy.jpg') repeat;
}

.backdropBlur {
  backdrop-filter: blur(10px);
}

.border-style {
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: #ffbc5c;
}

.border-disabled {
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: #d85c4c;
  color: #d85c4c;
}

.card-body {
  color: white;
}

.no-border {
  border-width: 0px;
}

.white-text {
  color: white;
}

.yellow-text {
  color: #ffbc5c;
}

.black-text {
  color: black;
}

#redButton {
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: #d85c4c;
  color: #d85c4c;
}

#providerLogo {
  src: '/galaxy.png';
}

.range3 {
  border-color: #ffbc5c;
  border-radius: 25px;
  border-width: 2px;
}

.connect-wallet img {
  display: none;
  visibility: hidden;
}

.tw-connected-wallet img {
  display: none;
  visibility: hidden;
}

.css-tkbtnr img {
  display: none;
  visibility: hidden;
}

.css-1309xma img {
  display: none;
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.185);
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c1c1cb9;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*

Contains Loading Skeleton utilities, link & component background.

*DO NOT* expand this list of class utilities using @layer or traditional CSS classes, instead, consider the following:

1) If a class is going to be used just once or twice, prefer writing the classes on that same component.

2) If we expect to use a set of classes more times than that, it's preferable to create a REACT COMPONENT that has those classes.

What we achieve by doing this: the ideal scenario is that the HTML/JSX of a component has all the styling contained in itself using familiar Tailwind Classes, instead of having the component make a reference to other CSS files.

*/

@layer utilities {
  .loading-component {
    @apply cursor-wait select-none rounded-2xl bg-gray-100 shadow-none hover:scale-100 dark:bg-slate-800 !important;
  }

  .loading-line {
    @apply animate-pulse select-none rounded-lg bg-blue-400 fill-current stroke-current text-blue-400 hover:scale-100 dark:bg-slate-600 dark:text-slate-600 !important;
  }

  .link {
    @apply whitespace-pre-wrap text-yellow-500 underline hover:text-yellow-600 dark:text-moon-gold dark:hover:text-amber-300;
  }

  .component-background {
    @apply relative bg-gradient-to-br from-white via-gray-50 to-zinc-50 dark:from-black dark:via-slate-950 dark:to-gray-950;
  }
}

/* These two classes control the color of the background*/

.stars-dark {
  background: url('/star-background.png') repeat,
    linear-gradient(to right, rgb(10, 10, 10), rgb(5, 5, 5), rgb(3, 1, 7));
}

.stars-light {
  background: url('/star-background.png') repeat,
    linear-gradient(to right, rgb(184, 186, 245), #dce3fa, rgb(129, 182, 235));
}
