.errorCard {
  animation: fadeIn-fadeOut 5s;
  position: relative;

  :nth-child(0) {
    padding: 1.5rem;
  }
}

@keyframes fadeIn-fadeOut {
  0% {
    left: 350px;
    opacity: 1;
  }
  15% {
    left: -10px;
    opacity: 1;
  }

  80% {
    left: -10px;
    opacity: 1;
  }
  100% {
    left: 350px;
    opacity: 0;
  }
}
