[submodule "fee-hook/lib/permit2"]
	path = fee-hook/lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "fee-hook/lib/layerzero-v2"]
	path = fee-hook/lib/layerzero-v2
	url = https://github.com/LayerZero-Labs/LayerZero-v2
[submodule "fee-hook/lib/hats-protocol"]
	path = fee-hook/lib/hats-protocol
	url = https://github.com/Hats-Protocol/hats-protocol
[submodule "subscription-contracts/lib/forge-std"]
	path = subscription-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "subscription-contracts/lib/hats-protocol"]
	path = subscription-contracts/lib/hats-protocol
	url = https://github.com/Hats-Protocol/hats-protocol
[submodule "subscription-contracts/lib/evm-tableland"]
	path = subscription-contracts/lib/evm-tableland
	url = https://github.com/tablelandnetwork/evm-tableland
[submodule "subscription-contracts/lib/hats-module"]
	path = subscription-contracts/lib/hats-module
	url = https://github.com/Hats-Protocol/hats-module
[submodule "subscription-contracts/lib/permit2"]
	path = subscription-contracts/lib/permit2
	url = https://github.com/uniswap/permit2
[submodule "xp/lib/forge-std"]
	path = xp/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "open"]
	path = xp/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
