/* Copyright 2015-16 Olaf Frohn https://github.com/ofrohn, see LICENSE */
/* Edited in 2024 for MoonDAO by Santiago Itzcoatl */
/* ---------------------------------------------- */

/* import roboto mono font */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/RobotoMono-Regular.ttf') format('truetype');
}

/* Celestial map */
#celestial-map {
  width: 720px;
  height: 720px;
  min-width: 200px;
  max-width: 75vw;
  margin: 0;
  padding: 0;
  position: relative;
  top: 10px;
  left: 0;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

#celestial-map canvas {
  display: inline-block;
  position: relative;
  z-index: 3;
  cursor: hand;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#celestial-map canvas:active {
  cursor: move;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

#d3-celestial-footer {
  text-align: center;
  color: #666;
  font: 10pt/1 'Roboto Mono', 'sans-serif', monospace;
}

#d3-celestial-footer a {
  text-decoration: none;
  color: #99f;
}

/* ---------------------------------------------- */
/* Celestial form */

#celestial-form {
  color: #3b82f6;
  display: block;
  width: 720px;
  height: 100%;
  min-width: 200px;
  max-width: 900px;
  margin-top: 75px;
  padding: 0;
  position: relative;
  left: 0;
  font-family: Roboto;
}

#celestial-form .col {
  margin: 0 0 4px;
  text-align: left;
  width: 100%;
}

#celestial-form .hr {
  margin-top: 4px;
  margin-bottom: 8px;
  border: 0 none;
  border-top: 1px solid white;
}

#loc {
  text-align: left;
}

#params {
  padding: 2.5%;
  width: 90vw;
  max-width: 550px;
}

#celestial-form #general,
#celestial-form #location,
#celestial-form #stars,
#celestial-form #dsos,
#celestial-form #constellations,
#celestial-form #lines,
#celestial-form #other {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#celestial-form #centerx,
#celestial-form #centery,
#celestial-form #centerz,
#celestial-form #lat,
#celestial-form #lon {
  width: 64px;
  margin-top: 4px;
}

#celestial-form #datepick {
  position: relative;
  display: inline-block;
  _vertical-align: 8px;
  top: 7px;
  left: -15px;
  width: 28px;
  height: 24px;
  border: 0px none;
  border-left: 1px solid #ccc;
  background-color: #f7f7f7;
  background-image: url('images/dtpick.png');
  background-position: -45px 1px;
  cursor: default;
}

#celestial-form #datepick.active {
  /*background-position: -69px 1px;*/
}

#celestial-form #datetime {
  cursor: default;
}

#celestial-form #constellation {
}

/* ---------------------------------------------- */
/* Celestial form inputs */

.secondLabel {
  color: white;
}

#lat,
#lon,
#datepick,
#LocationLabel,
#dateTimeLabel,
#datetime,
#planets-symbolType,
#planets-names,
#planets-namesType,
#planets-show,
#planets-show-label,
#stars-designationType {
  display: none;
}

.checkboxInput {
  display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

#celestial-form input {
  vertical-align: 0px;
}

#celestial-form input[type='number'] {
  width: 48px;
  height: 18px;
  text-align: right;
  padding: 0;
}

#celestial-form input[type='text'] {
  width: 194px;
  height: 18px;
  text-align: left;
  padding-left: 2px;
}

#celestial-form input[type='checkbox'] {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  vertical-align: 2px;
}

#celestial-form input[type='color'] {
  width: 48px;
  vertical-align: -3px;
  height: 22px;
  background: #d7594f;
}

#celestial-form input[type='file'] {
  width: 100%;
  padding-bottom: 1px;
  color: #f9b95c;
}

#file-upload-button input[type='button'] {
  color: #f9b95c;
}

#celestial-form input[type='button'] {
  width: 64px;
  padding-bottom: 1px;
  margin-top: 4px;
  color: #d97706;
}

#celestial-form select option {
  color: #d97706;
}

#celestial-form select option[value='---'] {
  color: #f9b95c;
}

#celestial-form input#download-png,
#celestial-form input#download-svg {
  display: inline-block;
  text-align: center;
  margin-left: 4px;
  width: 108px;
  height: 24px;
  font: inherit;
  line-height: 20px;
  text-decoration: none;
  background: #f7f7f7;
}

#celestial-form input#width {
  margin-left: 2px;
}

#celestial-form input#upload {
  width: 100%;
}

#celestial-form input#download {
  width: 100px;
}

#celestial-form input#imgData {
  width: 50px;
}

#celestial-form input#imgData,
#celestial-form input#upload,
#celestial-form input#download {
  margin-left: 2px;
  float: none;
}

#celestial-form input#now,
#celestial-form input#here {
  width: 52px;
  margin-left: 2px;
  float: none;
}

#celestial-form input#now {
  position: relative;
  left: -24px;
}

#celestial-form #datepick:hover,
#celestial-form input[type='button']:hover,
#celestial-form input#download-png:hover,
#celestial-form input#download-svg:hover {
  color: #fff;
  background-color: #003;
  cursor: pointer;
}

#celestial-form input[type='text']:disabled,
#celestial-form input[type='number']:disabled,
#celestial-form input[type='color']:disabled {
  color: #b33;
  border: 1px solid #f22;
  background: #eee;
}

#celestial-form select {
  display: none;
}

/*#celestial-form select*/
#celestial-form input[type='text'],
#celestial-form input[type='number'],
#celestial-form input[type='color'],
#celestial-form input#now,
#celestial-form input#here,
#celestial-form input#imgData,
#celestial-form input#download,
#celestial-form input#show,
#celestial-form input#download-png,
#celestial-form input#download-svg {
  border: 1px solid #00f;
  border-radius: 3px;
  height: 24px;
}
#celestial-form input#upload {
  border-radius: 3px;
}

#celestial-form input#imgData,
#celestial-form input#upload,
#celestial-form input#download,
#celestial-form input#now,
#celestial-form input#here {
  font-weight: 800;
}

#celestial-form label {
  color: white;
  font-weight: bold;
  margin: 0 2px 0 8px;
}

#celestial-form label.header {
  color: white;
  font-weight: bold;
}

#celestial-form label:first-child,
#celestial-form br + label {
  margin-left: 0;
}

#celestial-form input + span {
  margin: 0 4px 0 2px;
}

#celestial-form input[type='range'] {
  width: 100%;
  max-width: 800px;
  accent-color: white;
}

/* ---------------------------------------------- */
/* Date */
#celestial-date {
  position: absolute;
  top: -9999px;
  width: 193px;
  text-align: center;
  border: 1px solid #000;
  background: #fff;
  opacity: 0;
  transition: 0.6s ease-in opacity;
  font: 13px/1 'Roboto Mono', 'sans-serif';
  z-index: 7;
}

#celestial-date input,
#celestial-date select {
  font: inherit;
}

#celestial-date #yr,
#celestial-date #mon {
  margin: 2px 3px;
  vertical-align: middle;
}

#celestial-date #left,
#celestial-date #right {
  display: inline-block;
  width: 12px;
  height: 24px;
  margin: 0;
  vertical-align: -8px;
  cursor: pointer;
  background-image: url('images/dtpick.png');
}

#celestial-form #day-left,
#celestial-form #day-right {
  display: none;
  float: none;
  width: 12px;
  height: 24px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  cursor: pointer;
  border: 0 none;
  background-color: transparent;
  background-image: url('images/dtpick.png');
}

#celestial-form #day-right {
  position: relative;
  left: -30px;
}

#celestial-date #left,
#celestial-form #day-left {
  background-position: -8px 0px;
}

#celestial-date #right,
#celestial-form #day-right {
  background-position: -30px 0px;
}

#celestial-date #hr,
#celestial-date #min,
#celestial-date #sec {
  margin: 0 0 2px 0;
  width: 34px;
}

#celestial-date #hr {
  border-right: 0px none;
  border-radius: 3px 0 0 3px;
}

#celestial-date #min {
  border-right: 0px none;
  border-left: 0px none;
  border-radius: 0;
}

#celestial-date #sec {
  border-left: 0px none;
  border-radius: 0 3px 3px 0;
}

#celestial-date #tz {
  margin: 0 0 2px 4px;
}

#celestial-date #cal {
  display: inline-block;
  width: 182px;
  margin: 0 4px;
}

#celestial-date .date {
  display: inline-block;
  width: 19px;
  height: 14px;
  border: 1px solid #fff;
  color: white;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  padding: 2px 4px 2px 0;
  cursor: pointer;
}

#celestial-date .grey {
  color: #ccc;
}

#celestial-date .weekday {
  color: #666;
  font-sixe: 11px;
  background: #eee;
  border: 1px solid #eee;
}

#celestial-date .weekend {
  color: #f00;
}

#celestial-date .selected {
  border: 1px solid #000;
  border-radius: 3px;
}

#celestial-date .today {
  background: #ff0;
}

#celestial-form #datepick {
  position: relative;
  left: -30px;
}

/* ---------------------------------------------- */
/* Zoom controls */
#celestial-zoomin,
#celestial-zoomout {
  width: 20px;
  height: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #000;
  border-radius: 1px;
  position: absolute;
  font: normal bold 10px/1 'Roboto Mono', 'sans-serif', monospace;
  cursor: pointer;
}

#celestial-zoomin {
  top: 20px;
}

#celestial-zoomout {
  top: 48px;
}

#celestial-zoomin:hover,
#celestial-zoomout:hover {
  background: rgba(255, 255, 255, 0.7);
}

#celestial-zoomin:disabled,
#celestial-zoomout:disabled {
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(153, 153, 153, 0.7);
  color: rgba(153, 153, 153, 0.7);
  cursor: default;
}

/* ---------------------------------------------- */
@media print {
  #celestial-zoomin,
  #celestial-zoomout,
  #celestial-form {
    display: none;
  }
}

#error {
  position: absolute;
  min-width: 100px;
  height: auto;
  padding: 2px 4px;
  background: #fff;
  border: 2px solid #f00;
  border-radius: 3px;
  font-weight: normal;
  display: none;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  transition: opacity 1s linear;
}
