/* Edited in 2024 for MoonDAO by Santiago Itzcoatl */

body {
  background: #071536;
  margin: 0;
  padding: 0;
  text-align: center;
}

body form {
  background-color: #d0d0d0;
  font-family: monospace;
  font-weight: 200;
  font-size: 17px;
}

#html-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  min-width: 200px;
  max-width: 900px;
  margin: 0 auto;
  overflow: visible;
  display: flex;
}

#pfp {
  width: 60vw;
  height: 60vw;
  position: absolute;
  min-width: 200px;
  max-width: 60vw;
  margin: 0 auto;
  overflow: visible;
}

#process-image,
#canvas-container {
  width: 60vw;
  height: 60vw;
  min-width: 200px;
  max-width: 60vw;
  max-height: 60vw;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0%;
  left: 0;
  overflow: visible;
}

#process-image {
  /*filter:blur(40px);*/
  display: none;
  z-index: 0;
}

#canvas-container {
  will-change: transform;
  z-index: 1;
}

#canvas-container canvas {
  width: 60vw;
  height: 60vw;
}

#defaultCanvas0 {
  will-change: transform;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  max-width: 60vw;
  max-height: 60vw;
}

.p5Canvas {
  will-change: transform;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
