name: SubscriptionContracts

on:
  push:
    branches: [main]
    paths:
      - subscription-contracts/**
  pull_request:
    branches: [main]
    paths:
      - subscription-contracts/**

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: |
            .git
            subscription-contracts/node_modules
            subscription-contracts/lib
            subscription-contracts/out
          key: key-${{ runner.os }}-npm-${{ hashFiles('subscription-contracts/package-lock.json') }}
          restore-keys: |
            key-${{ runner.os }}-npm-

      - name: Run apply_patch.sh
        run: |
          chmod +x ./subscription-contracts/apply_patch.sh
          ./subscription-contracts/apply_patch.sh

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run Local Sepolia Chain with Anvil
        run: |
          anvil --fork-url https://11155111.rpc.thirdweb.com/${{ secrets.THIRDWEB_CLIENT_ID }} &
        id: local-sepolia

      - name: Run Local Arbitrum Chain with Anvil
        run: |
          anvil --fork-url https://42161.rpc.thirdweb.com/${{ secrets.THIRDWEB_CLIENT_ID }} --port 8546 &
          sleep 5
        id: local-arbitrum

      - name: Install npm dependencies
        run: |
          cd subscription-contracts && npm install --legacy-peer-deps
        id: install-npm-dependencies

      - name: Install lcov
        run: sudo apt-get update && sudo apt-get install -y lcov

      - name: Run Forge build
        run: |
          forge --version
          cd subscription-contracts && forge build --sizes --via-ir --optimize --optimizer-runs 2000
        id: build

      - name: Run Forge tests
        env:
          ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
          FOUNDRY_DISABLE_NIGHTLY_WARNING: true
        run: |
          cd subscription-contracts
          forge coverage --via-ir --fork-url 127.0.0.1:8545 -vvvv --optimize --optimizer-runs 10000 --ir-minimum --show-progress --report lcov --report-file sepolia-coverge.info
          forge coverage --via-ir --fork-url 127.0.0.1:8546 -vvvv --optimize --optimizer-runs 10000 --ir-minimum --show-progress --report lcov --report-file arbitrum-coverge.info
          lcov -a sepolia-coverge.info -a arbitrum-coverge.info -o coverage.info
        id: test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: Official-MoonDao/MoonDAO
        id: upload-coverage
